In [1]:
import numpy as np
import pandas as pd
import scipy as sp

import os
import glob

from nfl import Team, Game

In [2]:
games = pd.read_csv('data/games.csv')

In [3]:
games.head()

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [4]:
team_names = games['homeTeamAbbr'].unique()

In [5]:
team_names

array(['PHI', 'CLE', 'IND', 'MIA', 'BAL', 'NE', 'NYG', 'NO', 'ARI', 'CAR',
       'GB', 'DET', 'OAK', 'CIN', 'NYJ', 'BUF', 'ATL', 'PIT', 'WAS',
       'TEN', 'TB', 'SF', 'LA', 'DEN', 'JAX', 'DAL', 'CHI', 'HOU', 'KC',
       'MIN', 'SEA', 'LAC'], dtype=object)

In [6]:
len(team_names)

32

In [7]:
teams = {}

In [8]:
for name in team_names:
    teams[name] = Team(abbr=name)

In [9]:
games.loc[0]

gameId             2018090600
gameDate           09/06/2018
gameTimeEastern      20:20:00
homeTeamAbbr              PHI
visitorTeamAbbr           ATL
week                        1
Name: 0, dtype: object

In [10]:
for i in range(games.shape[0]):
    _game_info = games.loc[i]
    gameId = _game_info['gameId']
    homeTeamAbbr = _game_info['homeTeamAbbr']
    visitorTeamAbbr = _game_info['visitorTeamAbbr']
    week = _game_info['week']
    
    teams[homeTeamAbbr].games[f'week {week}'] = Game(gameId, opponent=visitorTeamAbbr, location='home')
    teams[visitorTeamAbbr].games[f'week {week}'] = Game(gameId, opponent=homeTeamAbbr, location='away')