In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import os
import glob

In [2]:
basepath = os.path.expanduser('~/Documents/programming-projects/nfl-big-data/calculated-data')

In [3]:
glob.glob(os.path.join(basepath,'*.csv'))

['/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/man play results.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/player max speed + accel.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/man coverage production reduction.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/offensive production.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/player season coverages.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/team target coverage epa analysis.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/team personal epa analysis.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/non targeted man coverage epa analysis.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/coverage scheme epa analysis.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/targeted defensive player epa analysis.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/zone coverage production reduction.csv',
 '/Users/jacobhow/Documents/programming-projects/nfl-big-data/calculated-data/zone play results.csv']

## Player Level

In [4]:
player_season_coverages = pd.read_csv(os.path.join(basepath,'player season coverages.csv'),index_col=0)

In [5]:
man_production_reduction = pd.read_csv(os.path.join(basepath,'man coverage production reduction.csv'),index_col=0).set_index('id')

In [6]:
zone_production_reduction = pd.read_csv(os.path.join(basepath,'zone coverage production reduction.csv'),index_col=0).set_index('id')

In [7]:
man_non_targeted_epa_analysis = pd.read_csv(os.path.join(basepath,'non targeted man coverage epa analysis.csv'),index_col=0)

In [8]:
defensive_target_coverage_epa = pd.read_csv(os.path.join(basepath,'targeted defensive player epa analysis.csv'),index_col=0)

In [9]:
player_season_coverages.head()

,displayName,position,snaps,zone,zone-deep,zone-over,man,man-over,blitz,games played,Team,zone %,zone-deep %,zone-over %,man %,man-over %,blitz %,zone-total,man-total
306,Dominique Rodgers-Cromartie,CB,64,7,17,25,3,12,0,5,OAK,10.9,26.6,39.1,4.7,18.8,0.0,49,15
1302,Aqib Talib,CB,202,19,79,60,25,19,0,8,LA,9.4,39.1,29.7,12.4,9.4,0.0,158,44
2307,Orlando Scandrick,CB,462,43,89,84,146,100,0,13,KC,9.3,19.3,18.2,31.6,21.6,0.0,216,246
2354,Wesley Woodyard,ILB,381,54,12,250,0,5,60,14,TEN,14.2,3.1,65.6,0.0,1.3,15.7,316,5
4365,Brandon Carr,CB,517,69,91,98,154,94,11,16,BAL,13.3,17.6,19.0,29.8,18.2,2.1,258,248

In [10]:
man_production_reduction.head()

,name,man targeted coverage count,total man delta epa,mean man delta epa
id,,,,
2533062,Stephon Gilmore,66,-26.421065,-0.400319
2558067,Marlon Humphrey,45,-22.161204,-0.492471
2559164,Michael Davis,41,-18.144583,-0.442551
89756,Jason McCourty,55,-16.882621,-0.306957
2543681,Kyle Fuller,56,-16.636283,-0.297076

In [11]:
zone_production_reduction.head()

,name,zone targeted coverage count,total zone delta epa,mean zone delta epa
id,,,,
2557927,Desmond King,29,-30.241365,-1.042806
2543681,Kyle Fuller,31,-27.847193,-0.898297
2555175,James Bradberry,53,-27.406165,-0.517097
2495872,Johnathan Joseph,43,-24.369903,-0.566742
2543470,Ha Ha Clinton-Dix,31,-22.503220,-0.725910

In [12]:
defensive_target_coverage_epa.head()

,targets,zone targets,zone targets epa,man targets,man targets epa,zone-over targets,zone-over targets epa,man-over targets,man-over targets epa
2555383,47,17.0,11.922586,22.0,0.542329,8.0,8.794294,NaN,NaN
79848,70,41.0,0.419929,11.0,10.043456,14.0,3.426184,4.0,-0.983954
2558175,4,3.0,-6.467198,NaN,NaN,NaN,NaN,1.0,-0.069654
2552689,65,26.0,2.585327,31.0,0.079026,8.0,-6.214528,NaN,NaN
2534832,5,5.0,-0.900719,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
man_non_targeted_epa_analysis.head()

,non targets,non targets epa,non targets - iso,non targets epa - iso,non targets - over,non targets epa - over
2557958,46,2.792,30,1.738,16,1.054
2555383,53,2.358,48,2.130,5,0.228
79848,83,3.432,66,2.770,17,0.662
2534832,1,0.037,1,0.037,0,0.000
2556363,9,0.269,6,0.103,3,0.166

### Man Analysis

In [ ]:
df = pd.merge(player_season_coverages[['displayName','snaps','position','man-total','zone-total']],
              man_production_reduction.drop(columns=['name']),
              left_index=True,right_index=True)

In [ ]:
df = pd.merge(df,zone_production_reduction.drop(columns=['name']),
              left_index=True,right_index=True)

In [ ]:
df = pd.merge(df,defensive_target_coverage_epa,
              left_index=True,right_index=True)

In [ ]:
df = pd.merge(df,man_non_targeted_epa_analysis,
              left_index=True,right_index=True)

In [ ]:
df

In [ ]:
snap_threshold = 200

In [ ]:
df = df[df['snaps'] > snap_threshold]
df

In [ ]:
df.keys()

In [ ]:
df['target %'] = ((df['targets'] / df['snaps']) * 100).round(1)
df['man target %'] = ((df['man targeted coverage count'] / df['man-total']) * 100).round(1)
df['zone target %'] = ((df['zone targeted coverage count'] / df['zone-total']) * 100).round(1)
df['total delta epa'] = df['total man delta epa'] + df['total zone delta epa']
df['mean total delta epa'] = df['total delta epa'] / df['targets']

In [ ]:
cb_df = df[df['position'] == 'CB']

In [ ]:
cb_df.sort_values('target %')

In [ ]:
cb_df.keys()

In [ ]:
cb_performance = cb_df[['displayName','position','snaps','man-total','zone-total',
                        'targets','man targeted coverage count','zone targeted coverage count',
                        'target %','man target %','zone target %',
                        'total delta epa','total man delta epa','total zone delta epa',
                        'mean total delta epa','mean man delta epa','mean zone delta epa']]

In [ ]:
man_cb_performance = cb_df[['displayName','position','snaps','man-total','man targeted coverage count',
                            'man target %','non targets', 'non targets epa','non targets - iso',
                            'non targets epa - iso', 'non targets - over','non targets epa - over']]

In [ ]:
def score(df, key, score_name):
    mu = df[key].mean()
    s = df[key].std()
    
    df[score_name] = ((-(df[key] - mu) / s) * 10 + 50).round(1)

In [ ]:
score(cb_performance, 'mean total delta epa', 'Total Score')
score(cb_performance, 'mean man delta epa', 'Man Score')
score(cb_performance, 'mean zone delta epa', 'Zone Score')

In [ ]:
score(cb_performance, 'target %', 'Target % Score')
score(cb_performance, 'man target %', 'Man Target % Score')
score(cb_performance, 'zone target %', 'Zone Target % Score')

In [ ]:
sort_key = 'total delta epa'
cb_performance.sort_values(sort_key).head(10)

In [ ]:
sort_key = 'mean total delta epa'
cb_performance.sort_values(sort_key).head(10)

In [ ]:
sort_key = 'mean man delta epa'
cb_performance.sort_values(sort_key).head(10)

In [ ]:
sort_key = 'mean zone delta epa'
cb_performance.sort_values(sort_key).head(10)

In [ ]:
sort_key = 'target %'
cb_performance.sort_values(sort_key).head(10)