In [1]:
import numpy as np
import pandas as pd
import scipy as sp

import matplotlib.pyplot as plt

import os
import glob

In [2]:
weeks = []
for i in range(17):
    name = f'week{i+1}'
    _df = pd.read_csv(os.path.join('data',name+'.csv'))
    weeks.append(_df)
    
    print(f'Week {i+1}: {_df.shape[0]}')

Week 1: 986022
Week 2: 1231793
Week 3: 1168345
Week 4: 1205527
Week 5: 1171908
Week 6: 1072563
Week 7: 982583
Week 8: 1001501
Week 9: 958464
Week 10: 964889
Week 11: 932240
Week 12: 1024868
Week 13: 1172517
Week 14: 1161644
Week 15: 1081222
Week 16: 1144037
Week 17: 1049265

In [3]:
data = pd.concat(weeks)

In [11]:
data.shape

(18309388, 19)

In [12]:
data.head()

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,2018090600,75,left,NaN
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,2018090600,75,left,NaN
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,2018090600,75,left,HITCH
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,2018090600,75,left,NaN
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,2018090600,75,left,HITCH

In [5]:
data['event'].unique()

array(['None', 'ball_snap', 'pass_forward', 'pass_arrived',
       'pass_outcome_caught', 'out_of_bounds', 'pass_outcome_incomplete',
       'first_contact', 'tackle', 'man_in_motion', 'play_action',
       'qb_sack', 'fumble', 'fumble_offense_recovered', 'handoff',
       'pass_tipped', 'pass_outcome_interception', 'qb_strip_sack',
       'pass_shovel', 'line_set', 'shift', 'touchdown',
       'fumble_defense_recovered', 'pass_outcome_touchdown', 'run',
       'touchback', 'penalty_flag', 'penalty_accepted', 'qb_spike',
       'field_goal_blocked', 'punt_fake', 'snap_direct',
       'run_pass_option', 'pass_lateral', 'lateral', 'field_goal_fake',
       'huddle_start_offense', 'huddle_break_offense', 'timeout_home',
       'safety', 'field_goal_play'], dtype=object)

In [6]:
counts = data['event'].value_counts()
counts

None                         16885077
ball_snap                      282543
pass_forward                   260480
pass_arrived                   213984
pass_outcome_caught            160114
tackle                         125737
first_contact                  108879
pass_outcome_incomplete         88999
play_action                     48497
out_of_bounds                   36458
line_set                        24112
qb_sack                         16478
man_in_motion                    8907
shift                            7621
touchdown                        6864
pass_outcome_touchdown           6197
pass_outcome_interception        6154
pass_tipped                      5276
fumble                           3263
qb_strip_sack                    2459
fumble_defense_recovered         2336
handoff                          1889
fumble_offense_recovered         1771
pass_shovel                      1507
qb_spike                         1108
lateral                           554
run                               487
touchback                         444
pass_lateral                      247
punt_fake                         241
run_pass_option                   185
penalty_flag                      161
huddle_break_offense              105
huddle_start_offense               90
field_goal_fake                    49
penalty_accepted                   45
field_goal_blocked                 15
safety                             15
snap_direct                        15
timeout_home                       14
field_goal_play                    11
Name: event, dtype: int64

In [10]:
counts['pass_forward']

260480

In [8]:
counts['pass_outcome_caught'] + counts['pass_outcome_incomplete'] + counts['pass_outcome_touchdown'] + counts['pass_outcome_interception']

261464

In [13]:
data['position'].unique()

array(['QB', 'SS', 'WR', 'FS', 'RB', 'MLB', 'CB', 'TE', 'LB', 'FB', nan,
       'OLB', 'HB', 'ILB', 'DL', 'DB', 'NT', 'S', 'DE', 'P', 'LS', 'K',
       'DT'], dtype=object)